{% block recherche %}
    <u><h3>Recherche</h3></u>
        <div class="form-group">
            <label for="Numéro du client">Id du client</label>
            <select class="form-control" id="id" name="id">
                <option>Choisir...</option>
                {% for id in lesIds %}
                    <option>{{ id['id'] }}</option>
                {% endfor %}
            </select>
        </div>
{% endblock %}