{# empty Twig template #}
{%  extends "layout.html.twig" %}
{% block contenu %}
    <u><h2> Liste des clients </h2></u>
    {{ include('/blocks/arrayClients.html.twig') }}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Nombre de clients : {{ tousClients | length }}
{% endblock %}