{%  extends "layout.html.twig" %}
{% block contenu %}
    {% block recherche %}
        <u><h3>Recherche</h3></u>
        <div class="container">
            <form action="?c=GestionClient&a=chercheUn" method="post">
                {{ include('/blocks/clientRecherche.html.twig') }}
                    <input type="submit" value="Voir" class="btn btn-default">
            </form>
        </div>
    {% endblock %}
    {% if unClient %}
    <div class="container">
        {{ include('/blocks/singleClient.html.twig') }}
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
    <script type="text/javascript" src="assets/js/GestionClient/clientsFunctions.js"></script>
    <script type="text/javascript" src="assets/js/creationXHR.js"></script>
{% endblock %}

